* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    margin: 50px;
}

div.container {
    flex-shrink: 0;
    border: 2px solid rgba(0, 0, 0, 0.406); 
    width: 804px;
    height: 804px;
    display: flex;
    flex-wrap: wrap;
}

/* div.box {
    border: 2px solid rgba(0, 0, 0, 0.406); 
} */

