* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
    margin: 20px;
}

#header {
    display: flex;
    gap: 50px;
}

h1 {
    font-size: 36px;
}

button {
    padding: 10px;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 900;
    color: white;
    background-color: black;
    width: 400px;
}

button:hover {
    background-color: red;
}

div.container {
    flex-shrink: 0;
    border: 5px solid rgba(0, 0, 0, 0.406); 
    width: 810px;
    height: 810px;
    display: flex;
    flex-wrap: wrap;
}


